* {
    font-family: FiraMono Nerd Font;
    font-size: 15px;
    font-weight: bold;
}

#waybar {
    background: #3C3836;
}

#workspaces,
#pulseaudio,
#clock,
#network {
    color: #D4BE98;
    padding-left: 10px;
    padding-right: 10px;
}

#workspaces {
}

#workspaces button {
    background: #3C3836;
    color: #D4BE98;
    border-radius: 10px;
}

#workspaces button.persistent {
    color: #928374;
}

#workspaces button.empty {
    color: #504945;
}

#workspaces button.special {
    color: #b8bb26;
}

#workspaces button.visible {
    background: #D4BE98;
    color: #3C3836;
}

#workspaces button.active {
    background: #D4BE98;
    color: #3C3836;
}

#workspaces button:hover {
}

#workspaces button.urgent {
    color: #cc241d;
}

#pulseaudio {
}

#clock {
}

#network {
    margin-right: 10px;
}
