* {
    font-family: FiraMono Nerd Font;
    font-weight: bold;
    font-size: 14px;
}

window#waybar {
    background: #242323;
    border-bottom: 2px solid #a89984;
}

tooltip {
    border: 2px solid #a89984;
}

#custom-launcher,
#custom-separator,
#custom-shutdown,
#workspaces,
#clock,
#tray,
#pulseaudio,
#network,
#battery {
    margin: 0px 0px 0px 0px;
    padding: 0px 10px 0px 0px;
    color: #a89984;
}

#workspaces {
}

#workspaces button {
    padding: 0px 4px 0px 4px;
    color: #a89984;
}

#workspaces button.active {
}

#workspaces button.urgent {
}

#clock {
}

#tray {
}

#pulseaudio {
}

#battery {
}

#network {
}
