* {
    font-family: FiraMono Nerd Font;
    font-weight: bold;
    font-size: 16px;
}

window#waybar {
    background: #32302F;
    border-bottom: 2px solid #a89984;
    border-left: 2px solid #a89984;
    border-right: 2px solid #a89984;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

tooltip {
    border: 2px solid #a89984;
}

#custom-launcher,
#custom-separator,
#custom-shutdown,
#workspaces,
#workspaces button,
#clock,
#tray,
#pulseaudio,
#network,
#battery {
    margin: 0px 0px 0px 0px;
    padding: 0px 5px 0px 5px;
    color: #a89984;
}

#workspaces {
    margin-left: -10px;
}

#battery {
    margin-left: 12px;
}

#custom-separator {
    margin-left: 5px;
}

#custom-launcher {
    margin-left: 10px;
}

#custom-shutdown {
    margin-right: 5px;
}

#workspaces button:hover {
    /* this is necessary to disable the box shadow effect */
    box-shadow: inherit;
    text-shadow: inherit;
    background: transparent;
    border: 1px solid rgba(0, 0, 0, 0);
}
