* {
    foreground:     #EBDBB2;
    // background:     #3C3836;
    background:     #1D2021;
    border:         #A89984;
    selected:       #928374;
    active:         #B8BB26;
    urgent:         #FB4934;
}
