configuration {
    case-sensitive: false;
    cycle: false;
    font: "FiraMono Nerd Font 12";
    show-icons: false;
    kb-row-up: "Control+k";
    kb-row-down: "Control+j";
    kb-accept-entry: "Return";
    kb-remove-to-eol: "";
    kb-cancel: "Control+bracketleft,Escape";
}
